[BOTCONFIG]
TOKEN = {{ lookup('env','BOTTOKEN') }}

[DBCONFIG]
DB_URL = postgresql+pg8000://{{DB_USER}}:{{DB_PASS}}@{{DB_URL}}:5432/{{DB_NAME}}

[SCRAPYHUB]
TOKEN = {{ lookup('env','SCRAPYHUBTOKEN') }}
PROJECT_ID = {{ lookup('env','SCRAPYHUBPROJECT') }}
